## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
id_cols = application_df[['EIN','NAME']]
application_df = application_df.drop(columns=['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9','T13','T12','T2','T25','T14','T29','T15','T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count.loc[classification_count > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
classification_count.loc[classification_count < 1000].index.tolist()

['C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_count.loc[classification_count < 1000].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_columns = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

application_df_encoded = pd.get_dummies(application_df, columns = categorical_columns)
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_df_encoded.drop(columns='IS_SUCCESSFUL').values
y = application_df_encoded['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = 43
batch_size = 32

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["acc"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
25724/25724 [==============================] - 22s 837us/step - loss: 0.5714 - acc: 0.7221
Epoch 2/100
25724/25724 [==============================] - 24s 922us/step - loss: 0.5605 - acc: 0.7271
Epoch 3/100
25724/25724 [==============================] - 25s 959us/step - loss: 0.5579 - acc: 0.7285
Epoch 4/100
25724/25724 [==============================] - 23s 911us/step - loss: 0.5566 - acc: 0.7304
Epoch 5/100
25724/25724 [==============================] - 25s 989us/step - loss: 0.5554 - acc: 0.7308
Epoch 6/100
25724/25724 [==============================] - 23s 906us/step - loss: 0.5553 - acc: 0.7313
Epoch 7/100
25724/25724 [==============================] - 23s 908us/step - loss: 0.5542 - acc: 0.7316
Epoch 8/100
25724/25724 [==============================] - 24s 946us/step - loss: 0.5549 - acc: 0.7318
Epoch 9/100
25724/25724 [==============================] - 25s 967us/step - loss: 0.5528 - acc: 0.7324
Epoch 10/100
25724/25724 [==============================] - 28s 1ms/step - loss: 0.5527 - acc: 0.7334
Epoch 11/100
25724/25724 [==============================] - 24s 915us/step - loss: 0.5532 - acc: 0.7328
Epoch 12/100
25724/25724 [==============================] - 23s 889us/step - loss: 0.5515 - acc: 0.7343
Epoch 13/100
25724/25724 [==============================] - 23s 895us/step - loss: 0.5547 - acc: 0.7345
Epoch 14/100
25724/25724 [==============================] - 23s 893us/step - loss: 0.5500 - acc: 0.7331
Epoch 15/100
25724/25724 [==============================] - 25s 956us/step - loss: 0.5512 - acc: 0.7334
Epoch 16/100
25724/25724 [==============================] - 23s 912us/step - loss: 0.5508 - acc: 0.7337
Epoch 17/100
25724/25724 [==============================] - 24s 925us/step - loss: 0.5494 - acc: 0.7349
Epoch 18/100
25724/25724 [==============================] - 23s 911us/step - loss: 0.5495 - acc: 0.7342
Epoch 19/100
25724/25724 [==============================] - 24s 936us/step - loss: 0.5501 - acc: 0.7354
Epoch 20/100
25724/25724 [==============================] - 25s 988us/step - loss: 0.5543 - acc: 0.7333
Epoch 21/100
25724/25724 [==============================] - 38s 1ms/step - loss: 0.5507 - acc: 0.7354
Epoch 22/100
25724/25724 [==============================] - 34s 1ms/step - loss: 0.5513 - acc: 0.7352
Epoch 23/100
25724/25724 [==============================] - 86s 3ms/step - loss: 0.5511 - acc: 0.7351
Epoch 24/100
25724/25724 [==============================] - 21s 828us/step - loss: 0.5523 - acc: 0.7350
Epoch 25/100
25724/25724 [==============================] - 23s 890us/step - loss: 0.5510 - acc: 0.7352
Epoch 26/100
25724/25724 [==============================] - 23s 891us/step - loss: 0.5503 - acc: 0.7355
Epoch 27/100
25724/25724 [==============================] - 23s 908us/step - loss: 0.5531 - acc: 0.7354
Epoch 28/100
25724/25724 [==============================] - 23s 888us/step - loss: 0.5508 - acc: 0.7352
Epoch 29/100
25724/25724 [==============================] - 23s 881us/step - loss: 0.5497 - acc: 0.7336
Epoch 30/100
25724/25724 [==============================] - 24s 915us/step - loss: 0.5518 - acc: 0.7352
Epoch 31/100
25724/25724 [==============================] - 23s 909us/step - loss: 0.5497 - acc: 0.7349
Epoch 32/100
25724/25724 [==============================] - 23s 890us/step - loss: 0.5495 - acc: 0.7347
Epoch 33/100
25724/25724 [==============================] - 23s 896us/step - loss: 0.5524 - acc: 0.7360
Epoch 34/100
25724/25724 [==============================] - 23s 912us/step - loss: 0.5515 - acc: 0.7351
Epoch 35/100
25724/25724 [==============================] - 26s 1ms/step - loss: 0.5495 - acc: 0.7334
Epoch 36/100
25724/25724 [==============================] - 24s 935us/step - loss: 0.5497 - acc: 0.7364
Epoch 37/100
25724/25724 [==============================] - 25s 984us/step - loss: 0.5547 - acc: 0.7350
Epoch 38/100
25724/25724 [==============================] - 24s 944us/step - loss: 0.5485 - acc: 0.7348
Epoch 39/100
25724/25724 [==============================] - 23s 899us/step - loss: 0.5489 - acc: 0.7360
Epoch 40/100
25724/25724 [==============================] - 23s 898us/step - loss: 0.5499 - acc: 0.7360
Epoch 41/100
25724/25724 [==============================] - 23s 895us/step - loss: 0.5518 - acc: 0.7358
Epoch 42/100
25724/25724 [==============================] - 24s 920us/step - loss: 0.5526 - acc: 0.7363
Epoch 43/100
25724/25724 [==============================] - 23s 900us/step - loss: 0.5515 - acc: 0.7356
Epoch 44/100
25724/25724 [==============================] - 23s 904us/step - loss: 0.5522 - acc: 0.7355
Epoch 45/100
25724/25724 [==============================] - 23s 904us/step - loss: 0.5540 - acc: 0.7363
Epoch 46/100
25724/25724 [==============================] - 24s 926us/step - loss: 0.5518 - acc: 0.7362
Epoch 47/100
25724/25724 [==============================] - 24s 935us/step - loss: 0.5484 - acc: 0.7362
Epoch 48/100
25724/25724 [==============================] - 35s 1ms/step - loss: 0.5493 - acc: 0.7347
Epoch 49/100
25724/25724 [==============================] - 24s 931us/step - loss: 0.5544 - acc: 0.7360
Epoch 50/100
25724/25724 [==============================] - 23s 898us/step - loss: 0.5481 - acc: 0.7353
Epoch 51/100
25724/25724 [==============================] - 25s 976us/step - loss: 0.5486 - acc: 0.7346
Epoch 52/100
25724/25724 [==============================] - 23s 905us/step - loss: 0.5522 - acc: 0.7344
Epoch 53/100
25724/25724 [==============================] - 24s 943us/step - loss: 0.5500 - acc: 0.7362
Epoch 54/100
25724/25724 [==============================] - 23s 910us/step - loss: 0.5495 - acc: 0.7358
Epoch 55/100
25724/25724 [==============================] - 24s 936us/step - loss: 0.5496 - acc: 0.7366
Epoch 56/100
25724/25724 [==============================] - 23s 909us/step - loss: 0.5529 - acc: 0.7362
Epoch 57/100
25724/25724 [==============================] - 24s 932us/step - loss: 0.5530 - acc: 0.7358
Epoch 58/100
25724/25724 [==============================] - 23s 911us/step - loss: 0.5484 - acc: 0.7364
Epoch 59/100
25724/25724 [==============================] - 24s 916us/step - loss: 0.5513 - acc: 0.7356
Epoch 60/100
25724/25724 [==============================] - 29s 1ms/step - loss: 0.5498 - acc: 0.7355
Epoch 61/100
25724/25724 [==============================] - 25s 953us/step - loss: 0.5509 - acc: 0.7369
Epoch 62/100
25724/25724 [==============================] - 25s 967us/step - loss: 0.5528 - acc: 0.7360
Epoch 63/100
25724/25724 [==============================] - 25s 959us/step - loss: 0.5553 - acc: 0.7364
Epoch 64/100
25724/25724 [==============================] - 33s 1ms/step - loss: 0.5496 - acc: 0.7362
Epoch 65/100
25724/25724 [==============================] - 23s 905us/step - loss: 0.5495 - acc: 0.7363
Epoch 66/100
25724/25724 [==============================] - 23s 899us/step - loss: 0.5517 - acc: 0.7371
Epoch 67/100
25724/25724 [==============================] - 24s 916us/step - loss: 0.5543 - acc: 0.7364
Epoch 68/100
25724/25724 [==============================] - 28s 1ms/step - loss: 0.5502 - acc: 0.7364
Epoch 69/100
25724/25724 [==============================] - 23s 906us/step - loss: 0.5541 - acc: 0.7356
Epoch 70/100
25724/25724 [==============================] - 23s 907us/step - loss: 0.5667 - acc: 0.7360
Epoch 71/100
25724/25724 [==============================] - 27s 1ms/step - loss: 0.5578 - acc: 0.7357
Epoch 72/100
25724/25724 [==============================] - 24s 928us/step - loss: 0.5510 - acc: 0.7359
Epoch 73/100
25724/25724 [==============================] - 24s 925us/step - loss: 0.5550 - acc: 0.7371
Epoch 74/100
25724/25724 [==============================] - 23s 902us/step - loss: 0.5560 - acc: 0.7362
Epoch 75/100
25724/25724 [==============================] - 24s 925us/step - loss: 0.5548 - acc: 0.7363
Epoch 76/100
25724/25724 [==============================] - 26s 1ms/step - loss: 0.5578 - acc: 0.7364
Epoch 77/100
25724/25724 [==============================] - 24s 926us/step - loss: 0.5523 - acc: 0.7362
Epoch 78/100
25724/25724 [==============================] - 23s 906us/step - loss: 0.5511 - acc: 0.7356
Epoch 79/100
25724/25724 [==============================] - 25s 956us/step - loss: 0.5553 - acc: 0.7361
Epoch 80/100
25724/25724 [==============================] - 24s 920us/step - loss: 0.5531 - acc: 0.7350
Epoch 81/100
25724/25724 [==============================] - 24s 943us/step - loss: 0.5568 - acc: 0.7360
Epoch 82/100
25724/25724 [==============================] - 23s 903us/step - loss: 0.5485 - acc: 0.7364
Epoch 83/100
25724/25724 [==============================] - 24s 943us/step - loss: 0.5588 - acc: 0.7364
Epoch 84/100
25724/25724 [==============================] - 23s 909us/step - loss: 0.5545 - acc: 0.7359
Epoch 85/100
25724/25724 [==============================] - 24s 915us/step - loss: 0.5543 - acc: 0.7355
Epoch 86/100
25724/25724 [==============================] - 25s 963us/step - loss: 0.5586 - acc: 0.7371
Epoch 87/100
25724/25724 [==============================] - 24s 951us/step - loss: 0.5522 - acc: 0.7364
Epoch 88/100
25724/25724 [==============================] - 24s 918us/step - loss: 0.5538 - acc: 0.7358
Epoch 89/100
25724/25724 [==============================] - 23s 911us/step - loss: 0.5536 - acc: 0.7362
Epoch 90/100
25724/25724 [==============================] - 24s 940us/step - loss: 0.5562 - acc: 0.7364
Epoch 91/100
25724/25724 [==============================] - 24s 914us/step - loss: 0.5491 - acc: 0.7355
Epoch 92/100
25724/25724 [==============================] - 24s 920us/step - loss: 0.5508 - acc: 0.7363
Epoch 93/100
25724/25724 [==============================] - 40s 2ms/step - loss: 0.5547 - acc: 0.7362
Epoch 94/100
25724/25724 [==============================] - 24s 918us/step - loss: 0.5514 - acc: 0.7356
Epoch 95/100
25724/25724 [==============================] - 24s 929us/step - loss: 0.5637 - acc: 0.7360
Epoch 96/100
25724/25724 [==============================] - 23s 908us/step - loss: 0.5532 - acc: 0.7360
Epoch 97/100
25724/25724 [==============================] - 24s 916us/step - loss: 0.5580 - acc: 0.7362
Epoch 98/100
25724/25724 [==============================] - 24s 915us/step - loss: 0.5500 - acc: 0.7353
Epoch 99/100
25724/25724 [==============================] - 23s 904us/step - loss: 0.5551 - acc: 0.7369
Epoch 100/100
25724/25724 [==============================] - 23s 909us/step - loss: 0.5554 - acc: 0.7367

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6000 - acc: 0.7285 - 347ms/epoch - 1ms/step
Loss: 0.5999832153320312, Accuracy: 0.7285131216049194

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [38]:
# Export our model to HDF5 file
model.save('AlphabetSoupCharity_Optimization.h5')